.basket-page {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.left-content {
  width: 60%;


}

.right-content {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.11);
}

.button-buy {
  background-color: #c00202; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}