.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
   max-width: 900px;

    &_btn {
      color: rebeccapurple;
    }
}
.pagination_btn:active {
  background-color: rgba(10, 10, 10, 0.55);
}
.page-link {
  color:#00000075;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s ;

}
.page-link:active {
  background-color: rgba(10, 10, 10, 0.55);
  color:white;
}